@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Outfit, sans-serif;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 155px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #73B4EA;
  padding: 12px 30px;
}

.content {
  padding: 26px;
  justify-content: center;
  text-align: center;
  margin-top: 6rem;
}

.logo {
  cursor: pointer;
  padding: 0.1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #dfdfdf;
}

.header-text {
  display: flex;
  font-size: 5rem;
  margin-bottom: -1rem;
  justify-content: center;
  align-items: center;
  color:#C0C0C0;
}

.header-text-2 {
  display: flex;
  font-size: 5rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  height: 9rem;
  color:#73B4EA;
}

.blurred-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: #73B4EA;
  border-radius: 50%;
  filter: blur(65px);
  transform: translate(-275%, -75%);
  z-index: -5;
}

.blurred-circle-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: #73B4EA;
  border-radius: 50%;
  filter: blur(65px);
  transform: translate(170%, 40%);
  z-index: -5;
}

.blurred-circle-3 {
  z-index: -5;
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #73B4EA;
  border-radius: 50%;
  filter: blur(45px);
  transform: rotate(-3deg) translate(4rem, 47rem);
}

.circles-image {
  position: absolute;
  top: 50;
  right: 50;
  width: 100px;
  transform: translate(-41rem, 3.5rem);
  height: auto;
  z-index: -1;
}

.circles-image-2 {
  position: absolute;
  top: 50;
  right: 50;
  width: 100px;
  transform: translate(27.5rem, -10rem) rotate(15deg);
  height: auto;
  z-index: -2;
}

.circles-image-3 {
  position: absolute;
  top: 50;
  right: 50;
  width: 100px;
  transform: translate(-48rem, -17rem) rotate(15deg);
  height: auto;
  z-index: -1;
}

.circles-image-4 {
  position: absolute;
  top: 50;
  right: 50;
  width: 100px;
  transform: translate(30rem, 9rem);
  height: auto;
  z-index: -1;
}

.bio {
  display: flex;
  flex-wrap: nowrap;
}

.intro-description {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  color:#73B4EA;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2.5rem auto 20rem auto;
}

.cta-button {
  display: inline-block;
  padding: 15px 20px;
  background-color: #73B4EA;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #6095c0;
  color: #ffffff;
  transform: scale(1.02);
}

.cta-button:active {
  transform: scale(0.99);
}

.cta-button-2 {
  display: inline-block;
  padding: 11.5px 20px;
  background-color: #ffffff;
  color: #73B4EA;
  font-size: 1rem;
  border: 4px solid #73B4EA;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button-2:hover {
  background-color: #73B4EA;
  color: #ffffff;
  transform: scale(1.02);
}

.cta-button-2:active {
  transform: scale(0.99);
}

.cta-about {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.cta-contact {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.wave-element {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-85rem);
  margin-bottom: -140rem;
  z-index: -10;
}

.section-1-bio {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-17rem);
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: -70rem;
}

.section-1-bio-paragraph {
  transform: translateX(1rem);
  margin: 0;
  font-weight: 550;
  font-size: 1.2rem;
  color: #C0C0C0;
  max-width: 600px;
  line-height: 1.6;
}

.section-1-bio-heading {
  font-size: 1rem;
  color: #73B4EA;
  margin-bottom: 0.8rem;
}

.vertical-line {
  position: absolute;
  border: 2px solid #999999;
  height: 22.8rem;
}

.bio-image {
  z-index: 5;
  display: block;
  margin: 0;
  border-radius: 1rem;
  box-shadow: 0 4p 8px rgba(0, 0, 0, 0.6);
  transform: rotate(-3deg) translate(40rem, -21rem);
}

.big-blurred-circle {
  position: absolute;
  background-color: #73B4EA;
  height: 420.39px;
  width: auto;
  border-radius: 50%;
  filter: blur(65px);
  transform: translate(31rem, -70rem);
  z-index: -5;
}

.contact-buttons {
  display: flex;
  gap: 0.8rem;
  transform: translate(-30rem, 3rem);
}

.github-contact-logo {
  padding: 0.1rem;
  background-color: #D9D9D9;
  border-radius: 0.5rem;
}

.linkedin-contact-logo {
  padding: 0.1rem;
  background-color: #D9D9D9;
  border-radius: 0.5rem;
}

.email-contact-logo {
  padding: 0.4rem;
  background-color: #D9D9D9;
  border-radius: 0.5rem;
}

.linktree-contact-logo {
  padding: 0.4rem;
  background-color: #bbbbbb;
  border-radius: 0.5rem;
  opacity: 0.5;
}

.github-contact-logo, .linkedin-contact-logo, .email-contact-logo, .linktree-contact-logo {
  transition: all 0.3s ease;
}

.github-contact-logo:hover, .linkedin-contact-logo:hover,.email-contact-logo:hover {
  background-color: #c4c4c4;
  transform: scale(1.03);
}

.linktree-contact-logo:hover {
  background-color: #8b8b8b;
  transform: scale(1.03);
}

.github-contact-logo:active, .linkedin-contact-logo:active, .email-contact-logo:active, .linktree-contact-logo:active {
  transform: scale(0.99);
}

.circles-image-5 {
  position: absolute;
  width: 100px;
  transform: translate(-8rem, -15rem);
  height: auto;
  z-index: -1;
}

.circles-image-6 {
  position: absolute;
  width: 100px;
  transform: translate(65rem, -57rem) rotate(15deg);
  height: auto;
  z-index: -1;
}

.logo-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.section-2-tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  background-color: #73B4EA;
  margin-top: -2rem;
  z-index: -5;
  padding: 4rem 0 12rem;
}

.section-2-tech-stack .section-2-top-text, .section-2-bottom-text .subheading {
  display: block;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.html-logo, .css-logo, .js-logo, .python-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.3rem;
  background-color: #ffffff;
  border-radius: 1.35rem;
  transition: all 0.3s ease;
}

.html-logo-text, .css-logo-text, .js-logo-text, .python-logo-text {
  display: block;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  color: #C0C0C0;
}

.html-logo:hover, .css-logo:hover, .js-logo:hover, .python-logo:hover {
  transform: scale(1.01);
}

.section-2-top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 500;
  color: #C0C0C0;
  width: 100%;
  margin: 0 auto 0.5rem;
}

.section-2-subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.section-2-top-text, .logo-container {
  margin-top: 3rem;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ececec;
  width: 100%;
  margin: 0 auto;
}

.circles-image-7 {
  position: absolute;
  width: 100px;
  transform: translate(-55rem, 5rem);
  height: auto;
  z-index: 1;
}

.circles-image-8 {
  position: absolute;
  width: 100px;
  transform: translate(50rem, 25rem) rotate(15deg);
  height: auto;
  z-index: 1;
}

.blurred-circle-5 {
  z-index: 1;
  position: absolute;
  width: 315px;
  height: 315px;
  background-color: #ffffff;
  border-radius: 50%;
  filter: blur(100px);
  transform: translate(-75rem, -20rem);
}

.blurred-circle-6 {
  z-index: 1;
  position: absolute;
  width: 315px;
  height: 315px;
  background-color: #ffffff;
  border-radius: 50%;
  filter: blur(100px);
  transform: translate(8rem, -1rem);
}

.gear-icon {
  position: absolute;
  transform: translate(-70rem, 5rem) rotate(-40deg);
  z-index: 1;
  padding: 0.2rem;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.85;
}

.gear-icon-2 {
  position: absolute;
  transform: translate(26rem, -16rem) rotate(40deg);
  z-index: 1;
  padding: 0.2rem;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.85;
}

.section-3-first-text {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 7rem auto 0 7rem;
  font-size: 1.3rem;
}

.heading-2 {
  color: #C0C0C0;
}

.subheading-three {
  color: #73B4EA;
}

.heading-2, .subheading-three {
  margin-bottom: 3rem;
}

.number-1-image {
  position: relative;
  margin: 1rem auto 0 3rem;
  z-index: 1;
}

.card-1-container {
  background-color: #73B4EA;
}

.card-1-text {
  position: relative;
  display: flex;
  justify-content: right;
  background-color: #ffffff;
}

.nexora-card-text {
  font-size: 1.5rem;
}

.nexora-text {
  position: relative;
  margin: -3rem auto 0 6.7rem;
  font-size: 1rem;
  color: #73B4EA;
  z-index: 1;
}

.circles-image-9 {
  position: absolute;
  color: #73B4EA;
  right: 50px;
  width: 100px;
  height: auto;
  z-index: -1;
}

.circles-image-10 {
  position: absolute;
  left: 100px;
  width: 100px;
  transform: rotate(15deg);
  height: auto;
  z-index: -1;
}

.nexora-1-image {
  border-radius: 1rem;
}

.picture-section {
  padding: 1.5rem;
  background-color: #ffffff;
  width: 23.2rem;
  border-radius: 1rem;
}

.code-info {
  padding: 0.5rem;
  background-color: #ffffff;
}

.visit-button, .view-button {
  text-decoration: none;
}

/* Do NOT add any more styles code past these media queries. */

/* Max Queries */

@media (max-width: 652px) {
  .header-text {
    font-size: 4rem;
  }

  .header-text-2 {
    font-size: 4rem;
  }
}

@media (max-width: 534px) {
  .header-text {
    font-size: 3.5rem;
    margin-bottom: -2rem;
  }

  .header-text-2 {
    font-size: 3.5rem;
  }

}

@media (max-width: 476px) {
  .header-text {
    font-size: 3rem;
    margin-bottom: -2rem;
  }

  .header-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 417px) {
  .header-text {
    font-size: 2.8rem;
    margin-bottom: -2rem;
  }

  .header-text-2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 394px) {
  .header-text {
    margin-bottom: -0.5rem;
  }
}

@media (max-width: 1140px) {
  .circles-image {
    transform: translate(-41rem, 3.5rem) scale(0.8);
  }
}

@media (max-width: 1360px) {
  .circles-image-2 {
    transform: translate(25rem, -10rem) rotate(15deg);
  }

  .circles-image {
    transform: translate(-35rem, 3.5rem);
  }
}

@media (max-width: 1180px) {
  .circles-image-2 {
    transform: translate(23rem, -10rem) rotate(15deg);
  }

  .circles-image {
    transform: translate(-30rem, 3.5rem);
  }
}

@media (max-width: 1100px) {
  .blurred-circle {
    transform: translate(-30rem, -10rem);
  }
}

@media (max-width: 370px) {
  .buttons-container {
    flex-direction: column;
    gap: 0.7rem;
  }
}

@media (max-width: 661px) {
  .logo-container {
    flex-direction: column;
    gap: 0.8rem;
  }
}

/* Min Queries */

